.header-container {
    height: 50px;
    width: 100%;
    background-color: aqua;
    display: flex;

    // position: absolute;
    // top: 0;
    // left: 0;
}

.menu-button {
    margin: auto 5px auto 5px;
}

.home-icon {
    margin: auto;
}