.footer-container {
    height: 100%;
    min-height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.432);
}

.link-text {
    color: white;
    text-decoration: none;
}

.text-container {
    width: 100%;
    margin: 30px;
}

.insta-links-container {
    padding-top: 30px;
    width: 100%;
    display: flex;
    border-left: 1px solid rgba(255, 255, 255, 0.432);
    padding-left: 30px;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}