.about-container {
    padding-top: 100px;
    padding-bottom: 100px;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph-icon {
    width: 50%;
}