.menu-container {
    // position: absolute;
    // left: 0
}

.menu-list {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.list-item {
    margin-left: auto;
    margin-right: auto;
}

.list-item:hover {
    text-decoration: underline;
    cursor: pointer;
}